:root {
  --mainWhite: #f3f3f3;
  --mainYellow: #ffa400;
  --mainBlue: #2a2a72;
}

.bg-yellow {
  background: var(--mainYellow);
}

.bg-blue {
  background: var(--mainBlue);
}

.text-yellow {
  color: var(--mainYellow);
}

body {
  background: var(--mainWhite) !important;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
